* {
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background: #202124;
    color: #fff;
}


/*Header---------------------------*/

header {
    display: flex;
    justify-content: space-between;
    display: center;
    padding-top: 25px;
}

header .google-logo {
    margin-right: 45px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .space-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 210px;
}

header .google-logo {
    margin: 0px 45px 0px 25px;
}

header .container .icon {
    margin: 0px 11px 0px 11px;
}

header .icons {
    display: flex;
    align-items: center;
}

header .customizing-search {
    background: #303134;
    width: 690px;
    height: 45px;
    padding: 0px 10px 0px 20px;
    border-radius: 25px;
}

header .customizing-search:hover {
    box-shadow: 0 0 15px 2px #00000033;
}

header .input-search {
    width: 480px;
    background-color: transparent;
    color: #fff;
    border: 0 none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

header .edit-profile-picture img {
    border-radius: 16px;
    margin: 4px;
}

header .edit-profile-picture {
    margin: 0px 24px 0px 4px;
}

header .edit-view-app-grid {
    margin: 0px 4px 0px 4px;
}

header .edit-gear-icon {
    margin: 0px 4px 0px 24px;
}

header .profile-picture,
header .view-app-grid,
header .gear-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 21px;
}

header .profile-picture:hover,
header .view-app-grid:hover,
header .gear-icon:hover {
    background-color: #313134;
}

/*Header---------------------------*/


/*Main---------------------------*/

main .search-filter {
    margin-top: 16px;
    margin-left: 210px;
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main nav ul,
main nav li{
    list-style: none; 
    margin: 0px; 
    padding: 0px;
}
main nav a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
main nav ul {
    display: flex;
}
main nav li{
    margin-right: 6px;
}
main nav li a{
    padding: 11px 14px 11px 14px;
    border: 1px solid #373a3d;
    border-radius: 25px;
}
main nav li a:hover {
    background-color: #303134;
}

main .all-filters-and-tools {
    display: flex;
    align-items: center;
}

main .all-filters-and-tools a {
    text-decoration: none;
    color: #9aa0a6;
    font-size: 14px;
}

main .all-filters-and-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 11px 15px 11px 15px;
}

main .all-filters-and-img:hover,
main .tools:hover {
    background-color: #303134;
    border-radius: 10px;
}

main .all-filters-and-tools .all-filters {
    margin-right: 12px;
}

main .all-filters-and-tools .vertical-bar {
    width: 1px;
    height: 25px;
    background-color: #3c4043;
    margin: 0px 4px;
}

main .tools {
    padding: 11px 12px;
}

main .horizontal-bar {
    margin-top: 18px;
    width: 100%;
    height: 1px;
    background-color: #3c4043;
}

/*Main---------------------------*/


/*Footer---------------------------*/

footer {
    height: 1000px;
}

/*Footer---------------------------*/
